
mixin modal() 
	//  start modals
	div(id="modal-info"  style="display: none" )
		+b.modal-win
			+e.title Григорьев Вячеслав Георгиевич
			+e.city
				+img('img/svg/pin.svg')
				| Ростовская область
			.row
				.col-md-auto: +img('img/modal-img.jpg').img
				.col-md
					+e.contest Победитель конкурса 2023, номинация «Производство»
					p После победы в конкурсе бизнес Вячеслава по производству натуральных и синтетических мочалок для тела получил широкую известность в региональных и федеральных СМИ, что способствовало его продвижению и привлечению новых клиентов в новых регионах.
					+e.text «Заключили соглашения с оптовыми фирмами из новых регионов России, где проводим большую работу по налаживанию поставок товара. Наше оборудование имеет инновационные составляющие, так как разработано и собрано нашими силами. За последний год появилось ещё несколько новых типов круговязальных машин, не имеющих аналогичных технологий в мире. Конкурс "Молодой предприниматель России" стал для меня не просто очередным проектом, а мощным импульсом к дальнейшему развитию и самореализации».
	// #modal-info

	
	// end modals