mixin sAdvantages(data)
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			+img('img/svg/star.svg').star
			+b.section-title
				h2 Зачем участвовать?
				p Принять участие в конкурсе федерального масштаба и получить звание лучшего молодого предпринимателя России
			+e.row.row
				+e.col.col-lg-9
					+e.item
						+img('img/svg/apple.svg').apple
						ul
							li  Найти единомышленников, партнёров и наставников
							li Познакомиться с ведущими представителями власти
							li Выйти на новый имиджевый уровень в регионе
							li Получить федеральную медийную поддержку для развития личного бренда и масштабирования бизнеса
							li Построить успешный бизнес с нуля при поддержке сильных экспертов
							li Получить экспертную оценку существующего бизнеса от топ-менеджмента крупнейших компаний России
							li Попасть в список ТОП-500 молодых предпринимателей России
							li Получить крутой мерч и призы от Росмолодёжь.Бизнес и партнёров
				+e.col.col-lg-3
					+img('img/sAdv-img.png').img
	// end sAdvantages