// start .sNominations
.sNominations {
	--sPT: #{rem(48)};
	--sPB: #{rem(62)};
	--sTPB: #{rem(26)};

	overflow: hidden;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(91.2)};
		--sPB: #{rem(117.6)};
		--sTPB: #{rem(40.8)};
	}
	&__container {
		position: relative;
		z-index: 1;
		.bg-1 {
			position: absolute;
			right: rem(-395);
			top: rem(-134);
			z-index: -3;
		}
		.bg-2 {
			position: absolute;
			right: rem(-73.4);
			top: rem(208.2);
			z-index: -1;
			@include media-breakpoint-up(md) {
				top: rem(-47.8);
			}
		}
		.bg-3 {
			position: absolute;
			width: 100%;
			max-width: rem(279);
			right: rem(-105);
			bottom: rem(-125.6);
			z-index: -2;
			@include media-breakpoint-up(md) {
				max-width: rem(389);
				right: rem(-145);
			}
		}
	}
	.section-title {
		max-width: rem(1047);
		h2 {
			line-height: 1;
			&:after {
				left: rem(7);
			}
		}
		.bg-4 {
			display: block;
			width: 100%;
			max-width: rem(270);
			margin-left: auto;
			@include media-breakpoint-up(xxl) {
				max-width: rem(455);
				position: absolute;
				top: rem(140);
				right: rem(-6);
				transform: rotate(-7.26deg);
				z-index: -3;
			}
			@include media-breakpoint-up(xxl) {
				right: rem(26);
			}
		}
	}
	&__row {
		max-width: rem(900);
		margin-bottom: rem(16);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(32);
		}
		.row {
			--bs-gutter-x: #{rem(12)};
			--bs-gutter-y: #{rem(12)};

			@include media-breakpoint-up(lg) {
				--bs-gutter-x: #{rem(17)};
				--bs-gutter-y: #{rem(20)};
			}
		}
	}
	&__tag {
		display: flex;
		align-items: center;
		font-size: rem(16);
		line-height: 1.21;
		padding: rem(9.5) rem(18.5);
		background-color: #fff;
		color: #000;
		border-radius: rem(100);
		.iconC {
			font-size: rem(20);
			margin-right: rem(7);
			flex: 0 0 auto;
			@include media-breakpoint-up(lg) {
				font-size: rem(24);
			}
		}
	}
	&__btn {
		--bs-btn-padding-y: #{rem(17.5)};

		display: block;
		max-width: max-content;
		@include media-breakpoint-down(sm) {
			margin-left: auto;
			margin-right: auto;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sNominations
