extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug

include ../blocks/sForm/_sForm.pug
include ../blocks/sForWhom/_sForWhom.pug
include ../blocks/sNominations/_sNominations.pug
include ../blocks/sSteps/_sSteps.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sExperts/_sExperts.pug
include ../blocks/sApply/_sApply.pug
include ../blocks/sStories/_sStories.pug
include ../blocks/sQuestions/_sQuestions.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		//- +headerBlock 
		+sForWhom
		+sNominations
		+sSteps
		+sAdvantages
		+sExperts
		+sApply
		+sStories
		+sQuestions
		+sPartners
		+sContact()
	+parts('footer')