mixin sSteps(data)
	// start sSteps
	+b.SECTION.sSteps.section#sSteps&attributes(attributes)
		.container
			+b.section-title
				h2 Как будет проходить конкурс?
				p Регистрационный этап: 30 июля – 31 августа
			+e.row.row.counter
				+e.col.col-lg-6
					+stepCard('Отборочный этап: 1–20 сентября', 1)
						ol
							li Отбор участников
							li Выполнение тестовых заданий на ИТ-платформе
							li Размещение видео-визиток в соцсетях
				+e.col.col-lg-6
					+stepCard('Отборочный этап: 21 сентября –10 октября', 2)
						ol
							li Выполнение заданий на ИТ-платформе
							li Знакомство с экспертами и наставниками
							li Региональные презентации проектов в гибридном формате
				+e.col.col-lg-6
					+stepCard('Полуфинал: 11 октября – 5 ноября', 3)
						ol
							li Отбор участников
							li Выполнение тестовых заданий на ИТ-платформе
							li Размещение видео-визиток в соцсетях
				+e.col.col-lg-6
					+stepCard('Финал: 6–28 ноября', 4)
						ol
							li Выполнение заданий на ИТ-платформе
							li Активности от партнёров
							li Питчинг-сессии с экспертами в онлайн-формате
							li Сопровождение от топовых наставников
			+promoBlock
	// end sSteps

mixin stepCard(title, i)
	+b.step-card
		+e.text.h4= title
		+img('img/arrow.png').arrow
		+e.card
			+img(`img/svg/sSteps-num-${i}.svg`).img
			block

mixin promoBlock
	+b.promo-block.img-wrap
		+img('img/promo-img.png').img-bg
		+e.content
			.h3 Супер-финал: 29 ноября
			p Финальное конкурсное испытание в очном формате в Москве. Победители и призёры будут объявлены на гала-церемонии итогового мероприятия трека Росмолодёжь.Бизнеc