mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+b.section-title
				h2 партнеры
			+e.row.row
				+e.col.col-sm-6.col-md-4.col-lg-3
					+e.img-wrap: +img('img/svg/sPartners-1.svg')
				+e.col.col-sm-6.col-md-4.col-lg-3
					+e.img-wrap: +img('img/svg/sPartners-2.svg')
				+e.col.col-sm-6.col-md-4.col-lg-3
					+e.img-wrap: +img('img/svg/sPartners-3.svg')
				+e.col.col-sm-6.col-md-4.col-lg-3
					+e.img-wrap: +img('img/svg/sPartners-4.svg')
	// end sPartners