mixin sExperts(data)
	// start sExperts
	+b.SECTION.sExperts.section#sExperts&attributes(attributes)
		.container
			+b.section-title
				h2 Наши эксперты
			+arrow
			+e.slider--js
				.swiper-wrapper
					+e.slide.swiper-slide
						+card('Вадим Кульков', 'Компания «БРОНИРУЙ»', 1)
					+e.slide.swiper-slide
						+card('Ольга Клинг', 'Генеральный директор ЛюдиPeople', 1)
					+e.slide.swiper-slide
						+card('Ольга Клинг', 'Генеральный директор ЛюдиPeople', 1)
					+e.slide.swiper-slide
						+card('Ольга Клинг', 'Генеральный директор ЛюдиPeople', 1)
					+e.slide.swiper-slide
						+card('Валерия Котова', 'Салон мебели VALERIE', 1)
					+e.slide.swiper-slide
						+card('Ольга Клинг', 'Генеральный директор ЛюдиPeople', 1)
				.swiper-pagination
	// end sExperts

mixin card(name, company, i)
	+b.person-card
		+e.img-wrap.text-center: +img(`img/sExperts-img-${i}.png`)
		+e.content.text-center
			+e.name!= name
			+e.company!= company