mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		.container
			+b.section-title
				h2 Часто задаваемые вопросы
			+ddGroup
				+ddGroupItem('Как узнать о прохождении в следующий этап?')
					p Сроки, отведённые для каждого задания, а также инструкция по его выполнению размещаются непосредственно в блоке самого задания на платформе.
				+ddGroupItem('Что даёт статус победителя конкурса?')
					p Сроки, отведённые для каждого задания, а также инструкция по его выполнению размещаются непосредственно в блоке самого задания на платформе.
				+ddGroupItem('Что значит «всероссийский» конкурс?')
					p Сроки, отведённые для каждого задания, а также инструкция по его выполнению размещаются непосредственно в блоке самого задания на платформе.
					p Сроки, отведённые для каждого задания, а также инструкция по его выполнению размещаются непосредственно в блоке самого задания на платформе.
				+ddGroupItem('Куда писать вопросы по конкурсу?')
					p Сроки, отведённые для каждого задания, а также инструкция по его выполнению размещаются непосредственно в блоке самого задания на платформе.
				+ddGroupItem('Сколько у меня времени на выполнение конкурсного задания?', 'active')
					p Сроки, отведённые для каждого задания, а также инструкция по его выполнению размещаются непосредственно в блоке самого задания на платформе.
	// end sQuestions